<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xml:lang="en"
      xmlns:tal="http://xml.zope.org/namespaces/tal"
      i18n:domain="Silva">
<head>
  <title>Login Required</title>
<link rel="stylesheet" href="frontend.css" type="text/css"
  tal:attributes="href here/frontend.css/absolute_url" />
</head>
<body>
  <div class="public">
    <h3 i18n:translate=""> Log in with an existing account </h3>

    <p style="color: red; font-weight: bold"
       tal:condition="request/login_status | nothing"
       tal:content="request/login_status">
      Status
    </p>

    <form method="post" action=""
          tal:attributes="action string:${here/absolute_url}/login">

      <input type="hidden" name="came_from" value=""
             tal:attributes="value request/came_from | string:" />

      <div class="form">

        <div class="form-element">
          <div class="form-title form-label">
            <label for="name"><b i18n:translate="">Login:</b></label>
          </div>
          <div class="form-field">
            <input id="name" type="text" name="__ac_name" size="30" />
          </div>
        </div>

        <div class="form-element">
          <div class="form-label">
            <label for="password"><b i18n:translate="">Password:</b></label>
          </div>
          <div class="form-field">
            <input id="password" type="password" name="__ac_password" size="30" />
          </div>
        </div>

        <div class="form-element">
          <div class="from-field form-actions">
            <input class="button cancel" type="button" value="Cancel"
                   onClick="history.go(-1)"
                   i18n:attributes="value" />
            <input type="submit" value=" Log In "
                   i18n:attributes="value" />
          </div>
        </div>

      </div>

    </form>

  </div>
</body>
</html>
